@import 'partials/variables';
@import 'partials/common';


.editPlate{

    .editPlateContainer{
        position: relative;
        width: 100%;
        min-height:780px ;
        padding: 15px 0;
        background: linear-gradient(white, #275351 );
        z-index: 1;
    }

    .polygon{
        clip-path: polygon(55% 0%, 100% 0%, 100% 100%, 0% 100%);
        background-color: #60b1ad;
        position: absolute;
        top: 0;
        bottom: 0;
        left:30px;
        right:60px;
        z-index: -1;
 
    }

    .polygonTwo{

        clip-path: polygon(0% 0%, 100% 0%, 25% 100%, 25% 69%);
        background-color: #2c5e5b;
        position: absolute;
        top: 0;
        bottom: 0;
        left:30px;
        right:60px;
        z-index: -2;
    }
    
    .backToPlateList{
        @include buttonLink(#00c2b8, white,8px, 20px);

        margin-left:20px;
    
    }


    .editPlateTitle{
        padding-top: 2px;
        text-align: center;
        h2{
            margin: 27px 11px 60px 0;
        }
        
    }

    .container{
        width: 45%;
        min-height:680px;
        text-align: center;
        border-radius: 15px;
        margin: 15px auto ;
        padding-top: 50px;
        border: 8px solid black;
        color: black;
        z-index: 999;
        background-color: rgb(136, 215, 218);


        .form-group{
            width: 70%;
            min-height: 60px;
            margin: auto;
            margin-bottom: 35px;
            text-align: left;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
    
             input{
                border-radius: 7px;
                outline: transparent;
                padding:3px 8px;
                margin-left:10px;
                height: 25px;
                border: none;
                
            }
    
            .radio{
               width: 50%;
               display: flex;
               margin-top:5px;
                
                &>input{
                    margin-right: 15px;
                    height: 17px;
                }
    
                &>label{
                    font-size: 12px;
                    white-space: nowrap;
                }
            }
            
            .visibility{
                width: 50%;
                margin-bottom: 12px;
    
            }

            .descInp{
                font-family: 'Lato', sans-serif;
                border-radius: 10px;
                padding: 7px;
            }

           
        }
        .insertImg{
            @include flex(row,space-between, center);
            margin-bottom: 30px;

            .insertFile{
                width: 86px;
            }
            
            .protoImg{
                height: 100px; 
                object-fit:contain;
                border: 2px solid rgb(87, 85, 85);
                border-radius: 13px;
            }
            
        }
    
        .price{
    
            &>span{
                padding-left: 18px;
                position:relative;

                input{
                    width: 100px;
                    padding-left:20px;
                }

            }
        }
    
        .euro{
            position:absolute;
            top: 3px;
            right: 85px;
            font-family: 'Lato';
            font-weight: bold;
            font-size: 17px;
            color: black;
        }
        
        button{
            @include buttonLink(#0febe0, white,10px, 30px);
            margin:30px 0;
            border: none;
        }
        
    }
    
}  




/* test @Queries mobile-device*/

@media screen and (max-width: 480px) {
   
    .editPlate{

        .container{
            width: 100%;
            
            .form-group{
               
                 input{
                     width: 45%;
                    border-radius: 7px;
                    outline: transparent;
                    padding:3px 8px;
                    margin-left:10px;
                    height: 25px;
                }
        
                .radio{
                    width: 210px;
                    display: flex;
                    margin-top: 5px;
                    
                    &>input{
                        margin-right: 15px;
                    }
        
                    &>label{
                        font-size: 12px;
                        white-space: nowrap;
                    }
                }
                
                .visibility{
                    width: 50%;
                    margin-bottom: 12px;
        
                }
    
                .descInp{
                    font-family: 'Lato', sans-serif;
                    border-radius: 10px;
                    padding: 7px;
                }
               
            }
            .insertImg{
                 @include flex(row,space-between, center);
 
                &>input{
                    width: 83px;
                    margin-right: 20px;
                }
        
                .protoImg{
                    width: 20%;
                    height: 20%;
                    
                }
            }

            .euro{
                top: 5%;
                right: 67%;
                font-family: 'Lato';
               
            }
        }
    }  
}


/* test @Queries tablet-device*/

@media screen and (min-width:481px) and (max-width: 768px) {

    .editPlate{

        .container{
            width: 65%;
            margin-top: 40px;
        } 
    }  
}


