@import 'partials/variables';

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// GRAFICA JUMBOTRON

.jumbotron {
    width: 100%;
    height: 500px;
    background-image: url("/storage/graphics/jumbotron.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;

    .logo-login {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      flex-grow: 1;
      
      align-items: center;
  
      .logo {
        width: 150px;
      }
  
    }
    
    .wellcome {
      display: flex;
      flex-direction: column;
      width: 650px;
      height: 100%;
      justify-content: space-between;
      
    }

    .title-research {
      margin-bottom: 30px;
      
      h1 {
        margin-bottom: 30px;
        font-size: 45px;
      }

    }
    .research-request {
      flex-grow: 1;
      height: 170px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 32px;
      border-radius: 5px;
      background-color: white;

      .input-adresse {
        display: flex;
        width: 100%;
        justify-content: space-between;
              
        #guest-request {
         font-size: 25px;
         flex-grow: 1;
         height: 45px;
         
        }

        #guest-request-click {
          height: 45px;
          width: 100px;
          margin-left: 15px;
        /*  #guest-request-click:hover {
            background-color: #2caead;
            color: white;
          } */
        }
       
      }

    }
  }

  .main-sec-1 {
  
    height: 680px;
    width: 100%;
    background-image: url("/storage/assets/sfondo8.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .main-1-container {
      height: 100%;
      display: flex;
      align-items: center;
     
      flex-wrap: wrap;
      justify-content: space-between;
      
      
      .piatto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 360px;
        width: 320px;
       
        
        
        img {
          width: 280px;
          border-radius: 15px;
        }
    }

    }

  }

// sezione dei piatti

  #section-2 {
    background-color: #7faf48;
    width: 100%;
    padding: 70px 0;
    .cards {
        display: flex;
        background-color: white;
        min-width: 80%;
        width: 100%;
        height: 300px;
        margin: 40px 0;
        border-radius: 20px;
        z-index: 99;
        .dx {
            background-image: url("/storage/restaurant-plates/barbecueribs.png"); /* Inserisci array di immagini */
            background-position: center;
            clip-path: polygon(86% 0, 100% 51%, 88% 100%, 0 100%, 0 0);
            min-width: 300px;
            width: 600px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            z-index: 2;
        }
        #column {
            display: flex;
            flex-flow: column wrap;
            align-self: center;
            margin-left: 40px;
            .sx p {
                margin: 30px 0;
            }
        }
    }
    .cards:first-child {
        margin-top: 0;
    }
    .cards:last-child {
        margin-bottom: 0;
    }
    .cards:hover {
        transform: scale(1.1);
        transition: all 2s;
    }
  }

//   SEZIONE DEDICATA AI RISTORATORI

    .main-sec-3 {
        background-color: white;
        height: 350px;
        background-image: url("/storage/graphics/sectionRestaurant.png");
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;  
        margin-top: 50px;
        margin-bottom: 50px;
    
    .business-adv {
      height: 100%;
      display: flex;
      justify-content: center;
      width: 580px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .business-adv h1 {
        margin-bottom: 15px;
        }

        span {
        margin-bottom: 15px;
        }

        .img-icon {
        width: 100px;
        margin-bottom: 15px;
    }
  }


  /* Container in absolute */
  .fas {
    color: white;
  }
  #contacts {
    position: fixed;
    top: 50.5%;
    right: 1%;
    #mail {
      background-color: rgb(255, 196, 0);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-bottom: 10px;
      cursor: pointer;
    #mail:hover {
      background-color: white;
      width: -70px;
      height: 20px;
    }
      .fa-at {
        
        display: flex;
        justify-content: center;
        vertical-align: middle;
        line-height: 40px;
      }
    }
    #phone {
      background-color: rgb(28, 138, 0);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      .fa-phone {
        @include flex(column, center, center);
        line-height: 40px;
        
      }
    }
  }