@import 'partials/variables';

main {
    width: 100%;

      #home-container{
        width: 100%;
        .myjumbotron {
          width: 100%;
          background-image: url("/storage/graphics/jumbotron.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          display: flex;
          padding: 150px 0; 

          /*.logo-login {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            flex-grow: 1;     
            align-items: center;
        
            .logo {
              width: 150px;
            }
          } */
          
          .welcome {
            display: flex;
            flex-direction: column;
            width: 600px;
            height: 100%; 
            
            .title-research {
            
              
              h1 {
                margin-bottom: 30px;
                font-size: 45px;
              }

              .research-request {
                flex-grow: 1;
                height: 170px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 32px;
                border-radius: 5px;
                background-color: white;

                .input-adresse {
                  display: flex;
                  width: 100%;
                  justify-content: space-between;
                        
                  #guest-request {
                  font-size: 25px;
                  flex-grow: 1;
                  height: 45px;
                  }
                  #guest-request::placeholder {
                    padding-left: 8px;
                    font-size: 16pt;
                  }

                  #guest-request-click {
                    background-color: rgb(255, 230, 0);
                    height: 45px;
                    width: 100px;
                    margin-left: 15px;
                    border: none;
                    border-radius: 5px;
                    #guest-request-click:hover {
                      background-color: #2caead;
                      color: white;
                    }
                  }
                }
              }
            }
            .categories{

              #category-container-list{
                margin-top: 30px;
                list-style-type: none;
                @include flex(row, center, center);
                flex-wrap: wrap;

                .category-list{
                  padding-right: 15px;
                }
              }
            }
          }   
        }

        // SEZIONE RISTORANTI -> VISIONE RISTORANTI -> REGOLE DI STILE
        /*@media screen and (min-width: 480px) and (max-width:768px) {
          .main-sec-1 {
            .main-1-contai-ner {
              ul {
                display: flex;

                li {
                  width: calc(90% / 2);
                  margin: 0 auto;
                }
              }
            }
          }
        }*/
        .main-sec-1 {
          padding: 150px 0;
          .main-1-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            ul {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              li {
                width: calc(90% / 3);
                list-style: none;
                margin: 0 auto;
                a {
                  text-decoration: none;
                  color: white;
                  .restaurants {
                  border-radius: 10px;
                  margin-bottom: 20px;
                  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
                  img {
                    width: 100%;
                    border-radius: 10px;
                    }
                    #text {
                      padding: 20px 0;
                      h3 {
                        color: #000;
                        text-align: center;
                      }
                    }
                  }
                }
              }
              .restaurants:hover {
                transform: scale(1.03);
                transition: all 1s ease;
              }
            }
          }
        }

      // SECONDA SEZIONE -> VISIONE PIATTI -> REGOLE DI STILE
      #section-2 {
        background-image: url("storage/graphics/back-carosel.jpg");
        width: 100%;
        padding: 70px 0;
        position: relative;
        #top-rating-plates {
          background-color: salmon;
          clip-path: polygon(100% 0, 100% 51%, 100% 100%, 0% 100%, 5% 51%, 0% 0%);
          width: 600px;
          height: 100px;
          position: absolute;
          top: -8.5%;
          right: 0%;
          h1 {
            font-family: 'Pacifico', cursive;
            color: rgb(255, 255, 255);
            text-align: center;
            vertical-align: middle;
            line-height: 90px;
            letter-spacing: 2px;
            .fa-star {
              color: rgb(255, 208, 0);
            }
          }
        }
        .flexible-carusel {
          display: flex;
          flex-direction: row;
          align-items: center;
          #prev {
            margin-left: 70px;
          }
          #plates-info {
            display: flex;
            align-items: center;
            background-color: rgba(0, 0, 0, .7);
            border-radius: 10px;
            img {
              width: 800px;
              height: 450px;
              clip-path: polygon(87% 0, 100% 49%, 87% 100%, 0 100%, 0 0);
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            }
            #text-plates {
              width: 100%;
              margin-right: 20px;
              margin-left: 20px;
              color: white;
              text-align: right;
            }
            h3 {
              text-decoration: underline;
            }
          }
          #next {
            margin-right: 70px;
          }
        }
        .fas {
          font-size: 18pt;
        }
      }

      //   SEZIONE DEDICATA AI RISTORATORI
      .main-sec-3 {  
        padding: 100px 0;
          #business-adv {
            display: flex;
            .cards-adv {
              background-color: orange;
              width: calc(100% / 3);
              height: 500px;
              margin-right: 15px;
              border-radius: 10px;
            }
            .cards-adv:last-child{
              margin-right: 0px;
            }
            .cards-adv:hover {
              transform: scale(1.05);
              transition: all 1s ease;
            }
          }
        }


        /* Container in absolute */
        .fas {
          color: white;
        }
        #contacts {
          position: fixed;
          top: 50.5%;
          right: 1%;
          #mail {
            background-color: rgb(255, 196, 0);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-bottom: 10px;
            cursor: pointer;
            .fa-at {
              @include flex(column, center, center);
              line-height: 40px;
            }
          }
          #phone {
            background-color: rgb(28, 138, 0);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            .fa-phone {
              @include flex(column, center, center);
              line-height: 40px;
            }
          }
        }
    }
}

// GRAFICA JUMBOTRON

// MEDIA QUERY JUMBOTRON -- > TABLET 
/*@media screen and (min-width: 480px) and (max-width: 768px) {
  .myjumbotron {
    background-image: none;
    background-color: blue;
    .research-request {
      width: 100%;
    }
  }
}*/

