@import 'partials/variables';


.info-companyMain{
/*     background-color:#88beba ;
 */
    background: linear-gradient(#395a57,#ddf8f6 );
}


#info-container {
    width: 100%;
    
    // background: linear-gradient($ourgreen, rgb(8, 56, 8));
    @include flex (column, flex-start, center);
    padding: 25px 0;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(100% 0, 75% 100%, 25% 100%, 0 0);
    background-color: #96c7c3;
    margin-bottom: 40px;
}




.backend-container,
.frontend-container {
    @include flex(column, center, center);
    width: 80%;
    margin: 25px 0;


    .infotitolo {
        width: 800px;
    }

    .infofotoprofilo {
        width: 200px;
        margin: 30px;
        border-radius: 50%;
    }

}

.back-cont{
    margin-bottom: 50px;
}

.images-container {
    @include flex(row, center, center);
    
}

.info-foto-details {
    @include flex(column, center, center);
    margin: 15px 0;
}



.superlogo {
    margin: 25px 0; 
    width: 100%;
    img {
    
        width: 100%;
    }


}

@media screen and(max-width: 1213px) and (min-width: 941px) {

    .images-container {
       

        .infofotoprofilo {
            width: 250px;
            
        }

    }

}

@media screen and(max-width: 940px) {

    .backend-container,
.frontend-container {
    @include flex(column, center, center);
    width: 100%;
    margin: 25px 0;

    .infotitolo {
        width: 100%;
    }
}
    
    
    .images-container {
        width: 100%;
        @include flex(column, center, center);

        

        .infofotoprofilo {
            margin: 15px 0;
            
        }
    }


}