
#login-container{
    height: 100vh;
    @include flex(column, flex-start, center);
    background-color: orange;

    #container-top{
        margin: 100px 0;

        span{
            color: #fff;
            font-size: 25px;
            text-transform: uppercase;
        }
    }
    #container-form{
        form{
            .container-email-password{
                .label{
                    color: #fff;
                    font-size: 18px;
                }
                .container-input{
                    margin: 10px 0;

                    .input-text{
                        width: 220px;
                        height: 40px;
                        padding: 0 8px;
                    }
                }
            }
            .container-remember{
                margin-bottom: 10px;

                .label{
                    color: #fff;
                    font-size: 16px;
                }
            }
            .container-button{
                #submit{
                    padding: 10px 20px;
                    border: none;
                    border-radius: 12px;
                    background-color: lawngreen;
                    color: #fff;
                    font-size: 16px;

                    &:hover{
                        background-color: purple;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}