#order-detail{
    .container{
        width: 70%;
        margin: auto;
        padding: 50px 0 30px;
        position: relative;
        .prev-display{
            display:none;
        }
        .back-to-dashboard{
            a{
                color: orange;
                text-decoration: none;
                position: absolute;
                top: 15px;
                right: 0;
                &:hover{
                    color: rgb(252, 106, 1);
                }
            }
        }
        nav{
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            a{
                color: orange;
                text-decoration: none;
                &:hover{
                    color: rgb(252, 106, 1);
                }
            }
        }
        h1{
            margin-bottom: 10px;
        }
        h2{
            padding: 20px 0;
            text-align: center;
        }
        .order-block{
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-top: 2px dashed black;
            border-bottom: 2px dashed black;
            padding: 20px 0;
            display: flex;
            //flex-wrap: wrap;
            align-items: center;
            //justify-content: space-between;
            .order-details{
                width: 40%;
                padding-left: 20px;
                >div{
                    margin-bottom: 5px;
                }
            }
            .ordered-plates{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    //justify-content: space-between;
                    li{
                        list-style-type: none;
                        flex-basis: calc(50% - 20px);
                        background-color: $headercl;
                        border-radius: 10px;
                        padding: 10px;
                        margin: 10px;
                        text-align: center;
                        .icon{
                            text-align: left;
                            color: $ourlogo;
                            font-size: 40px;
                        }
                        img{
                            width: 8vw;
                            height: 8vw;
                            margin: 10px 0;
                            border-radius: 50%;
                            border: 2px solid #28CCBC;
                        }
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
                .recap{
                    font-size: larger;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    #order-detail{
        .container{
            .order-block{
                flex-wrap: wrap;
                .order-details{
                    width: 100%;
                }
                .ordered-plates{
                    padding-left: 20px;
                    h2{
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px){
    #order-detail{
        .container{
            .order-block{
                .ordered-plates{
                    padding-left: 20px;
                    h2{
                        text-align: left;
                    }
                    ul{
                        flex-wrap: wrap;
                        li{
                            flex-basis: 90%;
                        }
                    }
                }
            }
        }
    }
}