#register-container{
    height: 100vh;
    @include flex(column, flex-start, center);
    background-color: $jumbogreen;

    #container-top{
        margin: 100px 0;

        span{
            color: salmon;
            font-size: 25px;
            text-transform: uppercase;
        }
    }
    #container-form{
        form{
            .container-email-password-name{
                .label{
                    color: salmon;
                    font-size: 18px;
                }
                .container-input{
                    margin: 10px 0;

                    .input-text{
                        width: 220px;
                        height: 45px;
                        padding-left: 8px;
                        border: 1px solid $ourlogo;
                        border-radius: 10px;
                        font-size: 25px;

                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
            .container-remember{
                margin-bottom: 10px;

                .label{
                    color: salmon;
                    font-size: 16px;
                }
            }
            .container-button{
                #submit{
                    @include buttonLink($ourlogo, $white, 10px, 20px);
                    border: none;
                    cursor: pointer;

                    &:hover{
                        background-color: salmon;
                    }
                }
            }
        }
    }
}