#register-container{
    //height: 100vh;
    @include flex(column, flex-start, center);
    background-color: $jumbogreen;
    padding: 50px 0;
    #absolute-trapezoid {
        background-color: #E1EEB4;
        position: absolute;
        top: 0%;
        width: 100%;
        height: 250px;
        clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%);
        z-index: 9;
    }

    #container-top{
        margin: 150px 0 30px;
        z-index: 99;
        h1{
            color: salmon;
            //font-size: 25px;
            text-transform: uppercase;
            text-align: center;
        }
    }
    #container-form{
        z-index: 99;
        border: 2px solid salmon;
        padding: 20px;
        border-radius: 15px;
        background-color: #E1EEB4;
        form{
            .container-email-password-name{
                display: flex;
                align-items: center;
                .label{
                    color: salmon;
                    font-size: 18px;
                    flex-basis: 30%;
                    margin-right: 20px;
                }
                .container-input{
                    margin: 10px 0;

                    .input-text{
                        width: 440px;
                        height: 45px;
                        padding-left: 8px;
                        border: 1px solid $ourlogo;
                        border-radius: 10px;
                        font-size: 18px;

                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
            .container-remember{
                margin-bottom: 10px;

                .label{
                    color: salmon;
                    font-size: 16px;
                }
            }
            .container-button{
                text-align: center;
                #submit{
                    @include buttonLink($ourlogo, $white, 10px, 20px);
                    border: none;
                    cursor: pointer;
                    width: 90%;
                    font-size: 20px;
                    &:hover{
                        background-color: salmon;
                    }

                    &:hover{
                        background-color: salmon;
                    }
                }
            }
            .go-to-login{
                text-align: center;
                color: salmon;
                font-size: 18px;
                margin-top: 20px;
                a{
                    color: $ourlogo;
                    text-decoration: none;
                    font-weight: bolder;
                    &:hover{
                        color: #363947;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    #register-container{
        #container-form{
            form{
                .container-email-password-name{
                    flex-wrap: wrap;
                    .container-input{
                        width: 100%;
                        .input-text{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}