@import 'partials/variables';
@import 'partials/common';

.restaurant-details-container {
    @include flex(column, flex-start, flex-start);
}

// ZONA SUPERIORE: descrizione ristorante e foto
.restaurant-show-container {
    height: 370px;
    margin-top: 30px;
    margin-bottom: 30px;
    @include flex(row, center, flex-start );
    


// Indirizzo e descrizione
        .restaurant-description {
            flex-grow: 1;
            @include flex(row, flex-start, center);
            height: 100%;

            img {
                height: 100%;
                margin-right: 15px;
                border-radius: 5px;
            }
        
        }

        .restaurant-details {
            
            ul {
                @include flex(row, space-between, center);
            list-style-type: none;
            
            a {
                color: $ourblue;
                text-decoration: none;

                &:hover {
                    background-color: $ourgreen;
                }
            }

            }

            .restaurant-description-text {
                margin-right: 5%;
                overflow: scroll;
                height: 150px;
                
            }
        }

        

//foto e indicazioni sull'ordine 
    .restaurant-foto-order {
        width: 370px;
        height: 100%;
        @include flex(column, space-around, center);
                
        img {
            border-radius: 15px;
            width: 100%;
        }

        .fa-clock
         {
            margin-right: 10px;
            color: black;
        }

        .types-of-payment {
            height: 50px;
            width: 100%;
            border: 1px solid $ourgrey;
            @include flex(row, center, center);
            
            i {
                
                font-size: 35px;
                margin-right: 15px;
                
            }

            .fa-cc-paypal {
                color: $paypal;
            }

            .fa-cc-visa {
                color: $visa;
            }

            .fa-cc-mastercard {
                color: $mastercard;
            }

            .fa-amazon-pay {
                color: $amazonpay;
            }
        }

          
    }
}

.shop-link {
    height: 50px;
    width: 100%;
    background-color: $ouryellow;
    color: black;
    @include flex(row, center, center);

    i {
        width: 35px;
        color: $ourblue; 

    }
}  

// ZONA INFERIORE: visione dei piatti e carrello
.plates-choosing-view {
    min-height: 400px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $ourgrey;
    
    // Contenitore dei piatti e del carrello

    .choosing-and-total-container {

        @include flex(row, space-between, flex-start);

        // contenitore dei piatti
        .plate-selection-container {
            
            width: calc(100% - 340px);
            @include flex(row, flex-start, flex-start);
            flex-wrap: wrap;
            overflow: scroll;
            
            // cornice per i piatti
            .plate-selection-view {
        
                width: 400px;
                height: 200px;
                @include flex(row, space-around, center);
                margin-top: 15px;
                background-color: white;
                

                .plate-description {
                    height: 100%;
                    flex-grow: 1;
                    @include flex(column, space-around, flex-start);
                    margin-left: 5px;

                    span {
                        font-size: 12px;
                    }

                    button {
                        background-color: white;
                        border: none;
                    }

                    i {
                        padding: 3px;
                    }

                    .fa-plus-circle {
                        color: $ourgreen;
                        font-size: 30px;
                        
                        
                    }

                    .fa-minus-square {
                        color: $ourred;
                        font-size: 30px;
                        
                    }
                }
        
                img {
                    width: 100px;
                    margin-right: 5px;
                    border-radius: 5px;
                }
                
            }

            .plate-selection-view:nth-child(2n + 1) {
                margin-right: 5%;
            }
        
        }
    }
        .momentary-total {

            width: 370px;
            position: relative;
            background-color: white;
            margin-top: 15px;
            
            .total-sticky {
                position: sticky;
                width: 370px;
                display: flex;
                @include flex(column, flex-start, center);

                .shop-link {
                     
                    height: 50px;
                    width: 370px;
                    background-color: $ouryellow;
                    color: black;
                    @include flex(row, center, center);
                
                    i {
                        width: 35px;
                        color: $ourblue; 
                
                    }
                }

                .free-delivery {
                    width: 370px;
                    height: 50px;
                    color: $ourgreen;
                    @include flex(row, center, center);
                
                }
                
                .pay-delivery {
                    width: 370px;
                    height: 50px;
                    color: $ourred;
                    @include flex(row, center, center);
                }
                .mykart {
                    @include flex(column, flex-start, center); 
                    width: 100%;
                   
                   margin: 15px;

                   div {
                       width: 100%;
                       
                   }
                    
                   label {
                       display: block;
                       cursor: pointer;
                       font-size: 16px;
                       margin: 3px 0 1px 0;
                       
                   }

                   input {
                       width: 100%;
                   }

                   .total-price {

                        
                        margin: 5px, 0;

                    #totalPrice {
                        display: none;
                    }

                   }

                   
    
                }

            }

        }

    }

    
.delivery-promotion {
    text-align: center;
    margin: 15px;
}




