@import 'partials/variables';
@import 'partials/common';

#restaurant-details-container{
    padding-top: 50px;
}
.restaurant-details-container {
    @include flex(column, flex-start, flex-start);
}

// ZONA SUPERIORE: descrizione ristorante e foto
.restaurant-show-container {
    height: 370px;
    @include centring;
    @include flex(row, space-between, flex-start );
    padding-bottom: 50px;


// Indirizzo e descrizione
        .restaurant-description {
            width: calc(100% - 370px);
            @include flex(row, flex-start, center);
            height: 100%;
            

            img {
                
                height: 100%;
                margin-right: 15px;
                border-radius: 5px;
            }
        
        }

        .restaurant-details {
            height: 100%;
            @include flex(column, flex-start, flex-start);


            .restaurant-description-text {
                
                margin: 20px 25px 0 0;
                overflow: scroll;
                flex-grow: 1
                
            }
            a:visited,
            a:link
            {
                color: #ffa500;
   
            }
        }

        

//PARTE DESTRA SUPERIORE foto e indicazioni sull'ordine 
    .restaurant-foto-order {
        width: 370px;
        height: 100%;
        @include flex(column, space-around, center);
                
        img {
            border-radius: 15px;
            width: 100%;
        }

        .fa-clock
         {
            margin-right: 10px;
            color: black;
        }

        .types-of-payment {
            height: 50px;
            width: 100%;
            border: 1px solid $ourgrey;
            @include flex(row, center, center);
            
            i {
                
                font-size: 35px;
                margin-right: 15px;
                
            }

            .fa-cc-paypal {
                color: $paypal;
            }

            .fa-cc-visa {
                color: $visa;
            }

            .fa-cc-mastercard {
                color: $mastercard;
            }

            .fa-amazon-pay {
                color: $amazonpay;
            }
        }

          
    }
}



// ZONA INFERIORE: visione dei piatti e carrello
.plates-choosing-view {
    min-height: 400px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $ourgrey;
    
    
    // Contenitore dei piatti e del carrello

    .choosing-and-total-container {

        @include flex(row, space-between, flex-start);
        position: relative;
        // contenitore dei piatti
        .plate-selection-container {
            
            width: calc(100% - 340px);
            @include flex(row, flex-start, flex-start);
            flex-wrap: wrap;
            overflow: scroll;
            
            // cornice per i piatti
            .plate-selection-view {
        
                width: 400px;
                height: 200px;
                @include flex(row, space-around, center);
                margin-top: 15px;
                background-color: $white;
                border-radius: 10px;
                

                .plate-description {
                    height: 100%;
                    flex-grow: 1;
                    @include flex(column, space-around, flex-start);
                    margin-left: 5px;

                    span {
                        font-size: 12px;
                    }

                    button {
                        background-color: white;
                        border: none;
                    }

                    i {
                        padding: 3px;
                    }

                    

                    .container-add-cart{

                        button{
                            @include buttonLink($ourlogo, $white, 5px, 10px);
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
        
                img {
                    width: 100px;
                    margin-right: 5px;
                    border-radius: 5px;
                }
                
            }

            .plate-selection-view:nth-child(2n + 1) {
                margin-right: 5%;
            }
        
        }
    }
        .momentary-total {

            width: 370px;
            border-radius: 10px;
            background-color: white;
            margin-top: 15px;
            position: sticky;
            right: 0;
            top: 0;
            @include flex(column, flex-start, center);
                          
                .shop-link {
                     
                    height: 50px;
                    width: 370px;
                    background-color: $ouryellow;
                    color: black;
                    @include flex(row, center, center);
                
                    i {
                        width: 35px;
                        color: $ourblue; 
                
                    }
                }

                .free-delivery {
                    width: 370px;
                    height: 50px;
                    color: $ourgreen;
                    @include flex(row, center, center);
                
                }
                
                .pay-delivery {
                    width: 370px;
                    height: 50px;
                    color: $ourred;
                    @include flex(row, center, center);
                }
                .mykart {
                    @include flex(column, flex-start, center); 
                    width: 100%;
                   
                   margin: 15px;

                   div {
                       width: 100%;
                       text-align: center;
                       
                   }
                    
                   label {
                       display: block;
                       cursor: pointer;
                       font-size: 16px;
                       margin: 3px 0 1px 0;
                       
                   }

                   input {
                        width: 75%;
                        height: 30px;
                        padding-left: 8px;
                        border: 1px solid $ourlogo;
                        border-radius: 5px;

                        &:focus{
                            outline: none;
                        }
                   }
                // INPUT DEL PREZZO TOTALE NASCOSTO
                   .total-price {

                        
                        margin: 5px, 0;
                    
                    #totalPrice {
                        display: none;
                    }
                   }

                   .elemQnty {
                    width: 100%;  
                    align-self: flex-start;
                    @include flex(column, space-around, center);
                    
                    .listitem {
                        @include flex(row, space-between, flex-start);
                        width: 98%;
                        border-bottom: 1px solid $ourgrey;
                        padding: 15px 0;

                        .pluseminus {
                            text-align: center;
                            width: 150px;
                        }

                        .myelem {
                            flex-grow: 1;
                            text-align: start;
                        }

                        
                        .singlecount {
                            
                            width: 80px;
                        }
                        
                        i {
                            font-size: 18px;  
                            padding: 1px;
                        }
    
                        .fa-plus-circle {
                            color: $ourgreen;
                        }
    
                        .fa-minus-circle {
                            color: $ourred;
                        }
                    }
                    
                } 
                //  FINE PARTE NASCOSTA
                }

                .total-calculator {
                    display: flex;
                    @include flex(column, space-around, center);
                    height: 100px;
                    
                    text-align: flex-start;
                    
                    span {    
                        font-size: 18px;
                    }

                    .amount {
                        width: 95%;
                        padding-bottom: 15px;
                        @include flex(row, space-between, center);
                        border-bottom: 1px solid $ourgrey;
                    }
                }
                


                .shop-link {
                    @include buttonLink($ouryellow, black, 10px, 20px);
                    @include flex(row, center, center);
                    border: none;
                    cursor: pointer;
                
                    i {
                        width: 35px;
                        color: $ourblue; 
                
                    }
                }  

        }

    }

    

// AVVISO A FONDO PAGINA
.delivery-promotion {
    text-align: center;
    margin: 15px;
}

@media screen and(max-width: 1741px) and (min-width: 667px) {

    // ZONA SUPERIORE: descrizione ristorante e foto
.restaurant-show-container {
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    @include flex(column, space-between, flex-start );
    


// Indirizzo e descrizione
        .restaurant-description {
            width: 100%;
            @include flex(row, space-between, center);
            margin-bottom: 25px;

            img {
                
                height: 100%;
                margin-right: 15px;
                border-radius: 5px;
            }
        
        }

        .restaurant-details {
            
           text-align: center;
        }

        

    //PARTE DESTRA SUPERIORE foto e indicazioni sull'ordine 
    .restaurant-foto-order {
        width: 100%;
        height: 350px;
        @include flex(row, space-between, center);
                
        img {
            display: none;
            border-radius: 15px;
            width: 100%;
        }
        span {
            text-align: center;
            
        }

        .restairamt-foto-order span:last-child {
            color: brown;
        }

        .fa-clock
         {
            margin-right: 10px;
            color: black;
        }

        .types-of-payment {
            height: 50px;
            width: 250px;
            border: 1px solid $ourgrey;
            @include flex(row, center, center);
            
            i {
                
                font-size: 35px;
                margin-right: 5px;
                
            }

            
        }

          
    }
}

    // ZONA INFERIORE: visione dei piatti e carrello
.plates-choosing-view {
    min-height: 400px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $ourgrey;
    
    // Contenitore dei piatti e del carrello

    .choosing-and-total-container {

        @include flex(row, space-between, flex-start);

        // contenitore dei piatti
        .plate-selection-container {
            
            width: calc(100% - 340px);
            @include flex(row, flex-start, flex-start);
            flex-wrap: wrap;
            overflow: scroll;
            
            // cornice per i piatti
            .plate-selection-view {
        
                width: 80%;
                height: 200px;
                @include flex(row, space-around, center);
                margin-top: 15px;
                background-color: white;
                

                .plate-description {
                    height: 100%;
                    flex-grow: 1;
                    @include flex(column, space-around, flex-start);
                    margin-left: 5px;

                    span {
                        font-size: 16px;
                    }

                    button {
                        background-color: white;
                        border: none;
                    }

                    i {
                        padding: 3px;
                    }

                    
                }
        
                img {
                    width: 130px;
                    margin-right: 5px;
                    border-radius: 5px;
                }
                
            }

            .plate-selection-view:nth-child(2n + 1) {
                margin-right: 5%;
            }
        
        }
    }
        .momentary-total {

            width: 370px;
            border-radius: 10px;
            background-color: white;
            margin-top: 15px;
            @include flex(column, flex-start, center);
                          
                .shop-link {
                     
                    background-color: $ouryellow;
                    color: black;
                    @include flex(row, center, center);
                
                    i {
                        width: 35px;
                        color: $ourblue; 
                
                    }
                }

                .free-delivery {
                    width: 370px;
                    height: 50px;
                    color: $ourgreen;
                    @include flex(row, center, center);
                
                }
                
                .pay-delivery {
                    width: 370px;
                    height: 50px;
                    color: $ourred;
                    @include flex(row, center, center);
                }
                .mykart {
                    @include flex(column, flex-start, center); 
                    width: 100%;
                   
                   margin: 15px;

                   div {
                       width: 100%;
                       
                   }
                    
                   label {
                       display: block;
                       cursor: pointer;
                       font-size: 16px;
                       margin: 3px 0 1px 0;
                       
                   }

                   input {
                       width: 100%;
                   }

                 

                // INPUT DEL PREZZO TOTALE NASCOSTO
                   .total-price {

                        
                        margin: 5px, 0;
                    
                    #totalPrice {
                        display: none;
                    }
                   }

                    

                //  FINE PARTE NASCOSTA
                }

                .total-calculator {
                    display: flex;
                    @include flex(column, space-around, space-around);
                    height: 100px;
                    text-align: center;
                    
                    span {
                        
                        font-size: 20px;
                        
                    }
                }

                .shop-link {
                    height: 50px;
                    width: 100%;
                    margin-top: 15px;
                    background-color: $ouryellow;
                    color: black;
                    @include flex(row, center, center);
                
                    i {
                        width: 35px;
                        color: $ourblue; 
                
                    }
                }  

        }

    }

}

@media screen and(max-width: 666px) {

    // ZONA SUPERIORE: descrizione ristorante e foto
.restaurant-show-container {
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    @include flex(column, center, center );
    


// Indirizzo e descrizione
        .restaurant-description {
            width: 100%;
            @include flex(column, center, center);
            margin-bottom: 25px;
            text-align: center;
            img {
                
                height: 50%;
                margin-right: 0px;
                border-radius: 5px;
                margin-bottom: 15px;
            }
        }

        .restaurant-details {
            @include flex(column, center, center);
            
        }

        

    //PARTE DESTRA SUPERIORE foto e indicazioni sull'ordine 
    .restaurant-foto-order {
        width: 100%;
        margin-bottom: 15px;
        @include flex(column, center, center);
        
                
        img {
            display: none;
            border-radius: 15px;
            width: 100%;
        }
        span {
            text-align: center;
            color: orange;
            margin-bottom: 10px;
            
        }

        .restairamt-foto-order span:last-child {
            color: brown;
        }

        .fa-clock
         {
            margin-right: 10px;
            color: black;
        }

        .types-of-payment {
            height: 50px;
            width: 250px;
            border: 1px solid $ourgrey;
            @include flex(row, center, center);
            margin-bottom: 10px;
            i {
                
                font-size: 35px;
                margin-right: 5px;
                
            }           
        }       
    }
}

    // ZONA INFERIORE: visione dei piatti e carrello
.plates-choosing-view {
    min-height: 400px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $ourgrey;
    
    
    // Contenitore dei piatti e del carrello

    .choosing-and-total-container {

        @include flex(column, center, center);


        // contenitore dei piatti
        .plate-selection-container {
            
            width: 100%;
            @include flex(row, center, center);
            
            // cornice per i piatti
            .plate-selection-view {
                flex-grow: 1;
                margin-right: 0px;
                height: 350px;
                @include flex(row, space-around, center);
                margin-top: 15px;
                background-color: white;
                

                .plate-description {
                    height: 100%;
                    flex-grow: 1;
                    @include flex(column, space-around, flex-start);
                    margin-left: 5px;

                    span {
                        font-size: 16px;
                    }

                    button {
                        background-color: white;
                        border: none;
                    }

                    i {
                        padding: 3px;
                    }

                }
        
                img {
                    width: 130px;
                    margin-right: 5px;
                    border-radius: 5px;
                }
                
            }

            .plate-selection-view:nth-child(2n + 1) {
                margin-right: 0%;
            }
        
        }
    }
        .momentary-total {

            width: 100%;
            border-radius: 10px;
            background-color: white;
            margin-top: 15px;
            @include flex(column, flex-start, center);
            text-align: center;
                          
                .shop-link {
                     
                    height: 50px;
                    width: 80%;
                    background-color: $ouryellow;
                    color: black;
                    @include flex(row, center, center);
                
                    i {
                        width: 35px;
                        color: $ourblue; 
                
                    }
                }

                .free-delivery {
                    width: 370px;
                    height: 50px;
                    color: $ourgreen;
                    @include flex(row, center, center);
                
                }
                
                .pay-delivery {
                    width: 370px;
                    height: 50px;
                    color: $ourred;
                    @include flex(row, center, center);
                }
                .mykart {
                    @include flex(column, flex-start, center); 
                    width: 100%;
                   
                   margin: 15px;

                   div {
                       width: 100%;
                       
                   }
                    
                   label {
                       display: block;
                       cursor: pointer;
                       font-size: 16px;
                       margin: 3px 0 1px 0;
                       
                   }

                   input {
                       width: 100%;
                   }
                // INPUT DEL PREZZO TOTALE NASCOSTO
                   .total-price {

                        
                        margin: 5px, 0;
                    
                    #totalPrice {
                        display: none;
                    }
                   }
                //  FINE PARTE NASCOSTA
                }

                .total-calculator {
                    display: flex;
                    @include flex(column, space-around, space-around);
                    height: 100px;
                    text-align: center;
                    
                    span {
                        
                        font-size: 20px;
                        
                    }
                }

                .shop-link {
                    height: 50px;
                    width: 100%;
                    margin-top: 15px;
                    background-color: $ouryellow;
                    color: black;
                    @include flex(row, center, center);
                
                    i {
                        width: 35px;
                        color: $ourblue; 
                
                    }
                }  

        }

    }


    .delivery-promotion {
        span {
            font-size: 12px;
        }
    }
}
