// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$ourlogo: #28CCBC;
$ourblue: #3490dc;
$ourlightblue: #28ccbc;
$ourgreen: #7faf48;
$ourorange: #fc6a01;
$ourgrey: #e8ebeb;
$ouryellow: #f4e432;
$ourred: #ff0000;
$paypal: #253b80;
$visa: #f5b226;
$mastercard: #eb001b;
$amazonpay: #ff9900;
$ourcoral: coral;


// $teal: #4dc0b5;
// $cyan: #6cb2eb;
// $yellow: #ffed4a;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;

//My-Style
@mixin flex($direction, $justify, $align) {

    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;

}

