@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2caead;
  padding: 5px;
  height: 50px;
  width: 150px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.div-margin {
  width: 70%;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: orange;
}

#login-container #container-top {
  margin: 100px 0;
}

#login-container #container-top span {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
}

#login-container #container-form form .container-email-password .label {
  color: #fff;
  font-size: 18px;
}

#login-container #container-form form .container-email-password .container-input {
  margin: 10px 0;
}

#login-container #container-form form .container-email-password .container-input .input-text {
  width: 220px;
  height: 40px;
  padding: 0 8px;
}

#login-container #container-form form .container-remember {
  margin-bottom: 10px;
}

#login-container #container-form form .container-remember .label {
  color: #fff;
  font-size: 16px;
}

#login-container #container-form form .container-button #submit {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  background-color: lawngreen;
  color: #fff;
  font-size: 16px;
}

#login-container #container-form form .container-button #submit:hover {
  background-color: purple;
  cursor: pointer;
}

main {
  width: 100%;
}

main #home-container {
  width: 100%;
  /*@media screen and (min-width: 480px) and (max-width:768px) {
    .main-sec-1 {
      .main-1-contai-ner {
        ul {
          display: flex;

          li {
            width: calc(90% / 2);
            margin: 0 auto;
          }
        }
      }
    }
  }*/
  /* Container in absolute */
}

main #home-container .myjumbotron {
  width: 100%;
  background-image: url("/storage/graphics/jumbotron.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 150px 0;
  /*.logo-login {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-grow: 1;     
    align-items: center;

    .logo {
      width: 150px;
    }
  } */
}

main #home-container .myjumbotron .welcome {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
}

main #home-container .myjumbotron .welcome .title-research h1 {
  margin-bottom: 30px;
  font-size: 45px;
}

main #home-container .myjumbotron .welcome .title-research .research-request {
  flex-grow: 1;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  border-radius: 5px;
  background-color: white;
}

main #home-container .myjumbotron .welcome .title-research .research-request .input-adresse {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

main #home-container .myjumbotron .welcome .title-research .research-request .input-adresse #guest-request {
  font-size: 25px;
  flex-grow: 1;
  height: 45px;
}

main #home-container .myjumbotron .welcome .title-research .research-request .input-adresse #guest-request::-moz-placeholder {
  padding-left: 8px;
  font-size: 16pt;
}

main #home-container .myjumbotron .welcome .title-research .research-request .input-adresse #guest-request:-ms-input-placeholder {
  padding-left: 8px;
  font-size: 16pt;
}

main #home-container .myjumbotron .welcome .title-research .research-request .input-adresse #guest-request::placeholder {
  padding-left: 8px;
  font-size: 16pt;
}

main #home-container .myjumbotron .welcome .title-research .research-request .input-adresse #guest-request-click {
  background-color: #ffe600;
  height: 45px;
  width: 100px;
  margin-left: 15px;
  border: none;
  border-radius: 5px;
}

main #home-container .myjumbotron .welcome .title-research .research-request .input-adresse #guest-request-click #guest-request-click:hover {
  background-color: #2caead;
  color: white;
}

main #home-container .myjumbotron .welcome .categories #category-container-list {
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main #home-container .myjumbotron .welcome .categories #category-container-list .category-list {
  padding-right: 15px;
}

main #home-container .main-sec-1 {
  padding: 150px 0;
}

main #home-container .main-sec-1 .main-1-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

main #home-container .main-sec-1 .main-1-container ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

main #home-container .main-sec-1 .main-1-container ul li {
  width: calc(90% / 3);
  list-style: none;
  margin: 0 auto;
}

main #home-container .main-sec-1 .main-1-container ul li a {
  text-decoration: none;
  color: white;
}

main #home-container .main-sec-1 .main-1-container ul li a .restaurants {
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
}

main #home-container .main-sec-1 .main-1-container ul li a .restaurants img {
  width: 100%;
  border-radius: 10px;
}

main #home-container .main-sec-1 .main-1-container ul li a .restaurants #text {
  padding: 20px 0;
}

main #home-container .main-sec-1 .main-1-container ul li a .restaurants #text h3 {
  color: #000;
  text-align: center;
}

main #home-container .main-sec-1 .main-1-container ul .restaurants:hover {
  transform: scale(1.03);
  transition: all 1s ease;
}

main #home-container #section-2 {
  background-image: url(/images/back-carosel.jpg?916f24cb154f5b40c05a9a254ad47392);
  width: 100%;
  padding: 70px 0;
  position: relative;
}

main #home-container #section-2 #top-rating-plates {
  background-color: salmon;
  -webkit-clip-path: polygon(100% 0, 100% 51%, 100% 100%, 0% 100%, 5% 51%, 0% 0%);
          clip-path: polygon(100% 0, 100% 51%, 100% 100%, 0% 100%, 5% 51%, 0% 0%);
  width: 600px;
  height: 100px;
  position: absolute;
  top: -8.5%;
  right: 0%;
}

main #home-container #section-2 #top-rating-plates h1 {
  font-family: "Pacifico", cursive;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  letter-spacing: 2px;
}

main #home-container #section-2 #top-rating-plates h1 .fa-star {
  color: #ffd000;
}

main #home-container #section-2 .flexible-carusel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main #home-container #section-2 .flexible-carusel #prev {
  margin-left: 70px;
}

main #home-container #section-2 .flexible-carusel #plates-info {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

main #home-container #section-2 .flexible-carusel #plates-info img {
  width: 800px;
  height: 450px;
  -webkit-clip-path: polygon(87% 0, 100% 49%, 87% 100%, 0 100%, 0 0);
          clip-path: polygon(87% 0, 100% 49%, 87% 100%, 0 100%, 0 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

main #home-container #section-2 .flexible-carusel #plates-info #text-plates {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
  text-align: right;
}

main #home-container #section-2 .flexible-carusel #plates-info h3 {
  text-decoration: underline;
}

main #home-container #section-2 .flexible-carusel #next {
  margin-right: 70px;
}

main #home-container #section-2 .fas {
  font-size: 18pt;
}

main #home-container .main-sec-3 {
  height: 350px;
  background-image: url("/storage/graphics/sectionRestaurant.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 50px;
}

main #home-container .main-sec-3 .business-adv {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #home-container .main-sec-3 .business-adv h1 {
  margin-bottom: 15px;
}

main #home-container .main-sec-3 span {
  margin-bottom: 15px;
}

main #home-container .main-sec-3 .img-icon {
  width: 100px;
  margin-bottom: 15px;
}

main #home-container .fas {
  color: white;
}

main #home-container #contacts {
  position: fixed;
  top: 50.5%;
  right: 1%;
}

main #home-container #contacts #mail {
  background-color: #ffc400;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

main #home-container #contacts #mail .fa-at {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

main #home-container #contacts #phone {
  background-color: #1c8a00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

main #home-container #contacts #phone .fa-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

/*@media screen and (min-width: 480px) and (max-width: 768px) {
  .myjumbotron {
    background-image: none;
    background-color: blue;
    .research-request {
      width: 100%;
    }
  }
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2caead;
  padding: 5px;
  height: 50px;
  width: 150px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.div-margin {
  width: 70%;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.restaurant-show-container {
  height: 370px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.restaurant-show-container .restaurant-description {
  width: calc(100% - 370px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.restaurant-show-container .restaurant-description img {
  height: 100%;
  margin-right: 15px;
  border-radius: 5px;
}

.restaurant-show-container .restaurant-details ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.restaurant-show-container .restaurant-details ul a {
  color: #3490dc;
  text-decoration: none;
}

.restaurant-show-container .restaurant-details ul a:hover {
  background-color: #7faf48;
}

.restaurant-show-container .restaurant-details .restaurant-description-text {
  margin-right: 15px;
  overflow: scroll;
  height: 150px;
}

.restaurant-show-container .restaurant-foto-order {
  width: 370px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.restaurant-show-container .restaurant-foto-order img {
  border-radius: 15px;
  width: 100%;
}

.restaurant-show-container .restaurant-foto-order .fa-clock {
  margin-right: 10px;
  color: black;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment {
  height: 50px;
  width: 100%;
  border: 1px solid #e8ebeb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment i {
  font-size: 35px;
  margin-right: 15px;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment .fa-cc-paypal {
  color: #253b80;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment .fa-cc-visa {
  color: #f5b226;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment .fa-cc-mastercard {
  color: #eb001b;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment .fa-amazon-pay {
  color: #ff9900;
}

.plates-choosing-view {
  min-height: 400px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e8ebeb;
}

.plates-choosing-view .choosing-and-total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container {
  width: calc(100% - 340px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: scroll;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  background-color: white;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 5px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description span {
  font-size: 12px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description button {
  background-color: white;
  border: none;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description i {
  padding: 3px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-plus-circle {
  color: #7faf48;
  font-size: 30px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-minus-square {
  color: #ff0000;
  font-size: 30px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view img {
  width: 100px;
  margin-right: 5px;
  border-radius: 5px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view:nth-child(2n+1) {
  margin-right: 5%;
}

.plates-choosing-view .momentary-total {
  width: 370px;
  border-radius: 10px;
  background-color: white;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.plates-choosing-view .momentary-total .shop-link {
  height: 50px;
  width: 370px;
  background-color: #f4e432;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plates-choosing-view .momentary-total .shop-link i {
  width: 35px;
  color: #3490dc;
}

.plates-choosing-view .momentary-total .free-delivery {
  width: 370px;
  height: 50px;
  color: #7faf48;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plates-choosing-view .momentary-total .pay-delivery {
  width: 370px;
  height: 50px;
  color: #ff0000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plates-choosing-view .momentary-total .mykart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.plates-choosing-view .momentary-total .mykart div {
  width: 100%;
}

.plates-choosing-view .momentary-total .mykart label {
  display: block;
  cursor: pointer;
  font-size: 16px;
  margin: 3px 0 1px 0;
}

.plates-choosing-view .momentary-total .mykart input {
  width: 100%;
}

.plates-choosing-view .momentary-total .mykart .total-price {
  margin: 5px, 0;
}

.plates-choosing-view .momentary-total .mykart .total-price #totalPrice {
  display: none;
}

.plates-choosing-view .momentary-total .total-calculator {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  height: 100px;
  text-align: center;
}

.plates-choosing-view .momentary-total .total-calculator span {
  font-size: 20px;
}

.plates-choosing-view .momentary-total .shop-link {
  height: 50px;
  width: 100%;
  margin-top: 15px;
  background-color: #f4e432;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plates-choosing-view .momentary-total .shop-link i {
  width: 35px;
  color: #3490dc;
}

.delivery-promotion {
  text-align: center;
  margin: 15px;
}

@media screen and (max-width: 1741px) and (min-width: 1083px) {
  .restaurant-show-container {
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .restaurant-show-container .restaurant-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  .restaurant-show-container .restaurant-description img {
    height: 100%;
    margin-right: 15px;
    border-radius: 5px;
  }

  .restaurant-show-container .restaurant-details ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }

  .restaurant-show-container .restaurant-details ul a {
    color: #3490dc;
    text-decoration: none;
  }

  .restaurant-show-container .restaurant-details ul a:hover {
    background-color: #7faf48;
  }

  .restaurant-show-container .restaurant-details .restaurant-description-text {
    margin-right: 15px;
    overflow: scroll;
    height: 250px;
  }

  .restaurant-show-container .restaurant-foto-order {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .restaurant-show-container .restaurant-foto-order img {
    display: none;
    border-radius: 15px;
    width: 100%;
  }

  .restaurant-show-container .restaurant-foto-order span {
    text-align: center;
  }

  .restaurant-show-container .restaurant-foto-order .restairamt-foto-order span:last-child {
    color: brown;
  }

  .restaurant-show-container .restaurant-foto-order .fa-clock {
    margin-right: 10px;
    color: black;
  }

  .restaurant-show-container .restaurant-foto-order .types-of-payment {
    height: 50px;
    width: 250px;
    border: 1px solid #e8ebeb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .restaurant-show-container .restaurant-foto-order .types-of-payment i {
    font-size: 35px;
    margin-right: 5px;
  }

  .plates-choosing-view {
    min-height: 400px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e8ebeb;
  }

  .plates-choosing-view .choosing-and-total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container {
    width: calc(100% - 340px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: scroll;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    background-color: white;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description span {
    font-size: 16px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description button {
    background-color: white;
    border: none;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description i {
    padding: 3px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-plus-circle {
    color: #7faf48;
    font-size: 30px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-minus-square {
    color: #ff0000;
    font-size: 30px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view img {
    width: 130px;
    margin-right: 5px;
    border-radius: 5px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view:nth-child(2n+1) {
    margin-right: 5%;
  }

  .plates-choosing-view .momentary-total {
    width: 370px;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .shop-link {
    height: 50px;
    width: 370px;
    background-color: #f4e432;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .shop-link i {
    width: 35px;
    color: #3490dc;
  }

  .plates-choosing-view .momentary-total .free-delivery {
    width: 370px;
    height: 50px;
    color: #7faf48;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .pay-delivery {
    width: 370px;
    height: 50px;
    color: #ff0000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .mykart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 15px;
  }

  .plates-choosing-view .momentary-total .mykart div {
    width: 100%;
  }

  .plates-choosing-view .momentary-total .mykart label {
    display: block;
    cursor: pointer;
    font-size: 16px;
    margin: 3px 0 1px 0;
  }

  .plates-choosing-view .momentary-total .mykart input {
    width: 100%;
  }

  .plates-choosing-view .momentary-total .mykart .total-price {
    margin: 5px, 0;
  }

  .plates-choosing-view .momentary-total .mykart .total-price #totalPrice {
    display: none;
  }

  .plates-choosing-view .momentary-total .total-calculator {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    height: 100px;
    text-align: center;
  }

  .plates-choosing-view .momentary-total .total-calculator span {
    font-size: 20px;
  }

  .plates-choosing-view .momentary-total .shop-link {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    background-color: #f4e432;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .shop-link i {
    width: 35px;
    color: #3490dc;
  }
}

@media screen and (max-width: 1082px) {
  .restaurant-show-container {
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .restaurant-show-container .restaurant-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    text-align: center;
  }

  .restaurant-show-container .restaurant-description img {
    height: 50%;
    margin-right: 0px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .restaurant-show-container .restaurant-details ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }

  .restaurant-show-container .restaurant-details ul a {
    color: #3490dc;
    text-decoration: none;
  }

  .restaurant-show-container .restaurant-details ul a:hover {
    background-color: #7faf48;
  }

  .restaurant-show-container .restaurant-details .restaurant-description-text {
    margin-right: 0px;
    overflow: scroll;
    flex-grow: 1;
  }

  .restaurant-show-container .restaurant-details .atHome {
    margin-bottom: 30px;
  }

  .restaurant-show-container .restaurant-foto-order {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .restaurant-show-container .restaurant-foto-order img {
    display: none;
    border-radius: 15px;
    width: 100%;
  }

  .restaurant-show-container .restaurant-foto-order span {
    text-align: center;
    color: orange;
    margin-bottom: 10px;
  }

  .restaurant-show-container .restaurant-foto-order .restairamt-foto-order span:last-child {
    color: brown;
  }

  .restaurant-show-container .restaurant-foto-order .fa-clock {
    margin-right: 10px;
    color: black;
  }

  .restaurant-show-container .restaurant-foto-order .types-of-payment {
    height: 50px;
    width: 250px;
    border: 1px solid #e8ebeb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .restaurant-show-container .restaurant-foto-order .types-of-payment i {
    font-size: 35px;
    margin-right: 5px;
  }

  .plates-choosing-view {
    min-height: 400px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e8ebeb;
  }

  .plates-choosing-view .choosing-and-total-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view {
    flex-grow: 1;
    margin-right: 0px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    background-color: white;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description span {
    font-size: 16px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description button {
    background-color: white;
    border: none;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description i {
    padding: 3px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-plus-circle {
    color: #7faf48;
    font-size: 30px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-minus-square {
    color: #ff0000;
    font-size: 30px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view img {
    width: 130px;
    margin-right: 5px;
    border-radius: 5px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view:nth-child(2n+1) {
    margin-right: 0%;
  }

  .plates-choosing-view .momentary-total {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .plates-choosing-view .momentary-total .shop-link {
    height: 50px;
    width: 80%;
    background-color: #f4e432;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .shop-link i {
    width: 35px;
    color: #3490dc;
  }

  .plates-choosing-view .momentary-total .free-delivery {
    width: 370px;
    height: 50px;
    color: #7faf48;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .pay-delivery {
    width: 370px;
    height: 50px;
    color: #ff0000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .mykart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 15px;
  }

  .plates-choosing-view .momentary-total .mykart div {
    width: 100%;
  }

  .plates-choosing-view .momentary-total .mykart label {
    display: block;
    cursor: pointer;
    font-size: 16px;
    margin: 3px 0 1px 0;
  }

  .plates-choosing-view .momentary-total .mykart input {
    width: 100%;
  }

  .plates-choosing-view .momentary-total .mykart .total-price {
    margin: 5px, 0;
  }

  .plates-choosing-view .momentary-total .mykart .total-price #totalPrice {
    display: none;
  }

  .plates-choosing-view .momentary-total .total-calculator {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    height: 100px;
    text-align: center;
  }

  .plates-choosing-view .momentary-total .total-calculator span {
    font-size: 20px;
  }

  .plates-choosing-view .momentary-total .shop-link {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    background-color: #f4e432;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .shop-link i {
    width: 35px;
    color: #3490dc;
  }

  .delivery-promotion span {
    font-size: 12px;
  }
}

#info-container {
  width: 100%;
  background-color: #7faf48;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

.backend-container,
.frontend-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 25px 0;
}

.backend-container img,
.frontend-container img {
  width: 150px;
  margin: 30px;
  border-radius: 50%;
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info-foto-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.superlogo {
  margin-bottom: 25px;
  width: 100%;
}

.superlogo img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2caead;
  padding: 5px;
  height: 50px;
  width: 150px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.div-margin {
  width: 70%;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
.speciality {
  font-family: "Pacifico", cursive;
  text-align: center;
  vertical-align: middle;
  line-height: 72px;
  letter-spacing: 2px;
}

.coverRestRel {
  width: 100%;
  position: relative;
  opacity: 0.9;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurantCover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}

.restaurantCover .ms_button {
  background-color: #00c2b8;
  text-align: center;
  width: 100px;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  margin: 30px 20px;
  position: absolute;
}

.restaurantCover .createPlateButt {
  top: 56px;
  right: 48px;
}

.restaurantCover .listRestButt {
  top: 56px;
  left: 48px;
}

.menuContainer {
  background-image: linear-gradient(#00c2b8, #8d8989);
  padding-top: 90px;
  margin-top: 14px;
}

.menuContainer .speciality {
  margin-bottom: 20px;
}

.platesCards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 90%;
  margin: auto;
  min-height: 500px;
  flex-wrap: wrap;
  overflow-y: auto;
  background-image: linear-gradient(#00c2b8, #8d8989);
}

.platesCards li {
  width: calc(90% / 5);
  min-height: 250px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.platesCards li .plateCard {
  position: relative;
  margin-bottom: 10px;
}

.platesCards li img {
  width: 100%;
  height: 220px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.platesCards li img:hover {
  transform: scale(1.03);
  transition: all 1s ease;
  opacity: 0.75;
}

.platesCards li img:hover + .editPlate {
  display: block;
}

.platesCards li .editPlate {
  font-size: 50px;
  color: #1b1a1a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  display: none;
}

.platesCards li .editPlate:hover {
  display: block;
}

.platesCards li h6 {
  margin-top: 10px;
}

#faq-container {
  padding: 80px 0;
}

#faq-container #back-h1 {
  background-color: #ff7b00;
  width: 140px;
  height: 80px;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

#faq-container #back-h1 h1 {
  margin: 20px 0;
  padding: 0 25px;
  vertical-align: middle;
  line-height: 80px;
}

#faq-container #faq {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

#faq-container #faq #quest li {
  list-style: none;
  margin: 10px 0;
}

#faq-container #faq #quest li p:first-child:hover {
  font-size: 20pt;
}

#faq-container #faq #quest li p:first-child {
  font-weight: bold;
}

header {
  width: 100%;
}

header #header-log {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 10px 20px;
}

header #header-log #logo img {
  width: 50px;
  height: 50px;
}

header #header-log #login-a {
  vertical-align: middle;
  line-height: 40px;
}

header #header-log #login-a ul {
  display: flex;
  justify-content: flex-end;
}

header #header-log #login-a ul li {
  display: inline-block;
  margin-left: 15px;
}

header #header-log #login-a ul li a {
  color: #00c2b8;
  text-decoration: none;
}

header #header-log #login-a ul li:last-child {
  background-color: #00c2b8;
  text-align: center;
  width: 100px;
  border-radius: 7px;
}

header #header-log #login-a ul li:last-child a {
  color: white;
  text-decoration: none;
}

header #header-log #login-a ul li:last-child .dropdown-item {
  color: #00c2b8;
}

footer {
  width: 100%;
  background-color: #fc6a01;
  padding: 40px 0;
}

footer .footer-container {
  width: 100%;
}

footer .footer-container .footer-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-container .footer-section-container .footer-section {
  height: 300px;
  width: calc( 100% / 4 );
  background-color: #f1ad7d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
}

footer .footer-container .footer-section-container .footer-section .footer-list {
  height: 90%;
  width: 90%;
}

footer .footer-links {
  height: 44px;
  display: flex;
  justify-content: space-between;
}

footer .footer-links .links {
  color: white;
  font-size: 24px;
}

footer .footer-links .weAre {
  font-size: 18px;
  color: white;
}

