@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2caead;
  padding: 5px;
  height: 50px;
  width: 150px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.div-margin {
  width: 70%;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abutton {
  padding: 7px;
  font-size: 18px;
  background-color: #28CCBC;
  color: white;
}

#login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: orange;
}

#login-container #container-top {
  margin: 100px 0;
}

#login-container #container-top span {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
}

#login-container #container-form form .container-email-password .label {
  color: #fff;
  font-size: 18px;
}

#login-container #container-form form .container-email-password .container-input {
  margin: 10px 0;
}

#login-container #container-form form .container-email-password .container-input .input-text {
  width: 220px;
  height: 40px;
  padding: 0 8px;
}

#login-container #container-form form .container-remember {
  margin-bottom: 10px;
}

#login-container #container-form form .container-remember .label {
  color: #fff;
  font-size: 16px;
}

#login-container #container-form form .container-button #submit {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  background-color: lawngreen;
  color: #fff;
  font-size: 16px;
}

#login-container #container-form form .container-button #submit:hover {
  background-color: purple;
  cursor: pointer;
}

main {
  width: 100%;
}

main #home-container {
  width: 100%;
  /* Container in absolute */
}

main #home-container #scroll {
  background-color: rgba(40, 204, 188, 0.5);
  padding: 10px 13px;
  border-radius: 5px;
  position: fixed;
  right: 75px;
  top: 85vh;
  z-index: 800;
  display: none;
  cursor: pointer;
}

main #home-container #scroll i {
  color: #ffff;
  font-size: 20px;
}

main #home-container #scroll.active {
  display: block;
}

main #home-container .myjumbotron {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: #d0eb98;
}

main #home-container .myjumbotron #triangle-topleft {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  background-color: #C1E8E5;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
          clip-path: polygon(100% 0, 0 0, 0 100%);
}

main #home-container .myjumbotron #triangle-topleft.active {
  background-color: #d0eb98;
}

main #home-container .myjumbotron .content-jumbotron {
  height: 100%;
  padding-top: 100px;
  width: 70%;
  margin: 0 auto;
}

main #home-container .myjumbotron .content-jumbotron h1 {
  margin-bottom: 30px;
  font-size: 45px;
  color: #28CCBC;
}

main #home-container .myjumbotron .content-jumbotron .research-request {
  height: 90px;
}

main #home-container .myjumbotron .content-jumbotron .research-request #guest-request {
  width: 40%;
  height: 45px;
  padding-left: 8px;
  border: 1px solid #28CCBC;
  border-radius: 10px;
  font-size: 25px;
}

main #home-container .myjumbotron .content-jumbotron .research-request #guest-request:focus {
  outline: none;
}

main #home-container .myjumbotron .content-jumbotron .research-request #guest-request::-moz-placeholder {
  padding-left: 8px;
  font-size: 16pt;
  color: #28CCBC;
}

main #home-container .myjumbotron .content-jumbotron .research-request #guest-request:-ms-input-placeholder {
  padding-left: 8px;
  font-size: 16pt;
  color: #28CCBC;
}

main #home-container .myjumbotron .content-jumbotron .research-request #guest-request::placeholder {
  padding-left: 8px;
  font-size: 16pt;
  color: #28CCBC;
}

main #home-container .myjumbotron .content-jumbotron .research-request #guest-request:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #28CCBC;
}

main #home-container .myjumbotron .content-jumbotron .research-request #guest-request::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #28CCBC;
}

main #home-container .myjumbotron .content-jumbotron #category-container-list {
  width: 60%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 300;
}

main #home-container .myjumbotron .content-jumbotron #category-container-list .category-list {
  padding: 10px 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #28CCBC;
  border-radius: 5px;
}

main #home-container .myjumbotron .content-jumbotron #category-container-list .category-list label {
  color: #ffff;
  padding-right: 10px;
}

main #home-container .main-sec-1 {
  position: relative;
  padding: 150px 0;
}

main #home-container .main-sec-1 #triangle-sec-1 {
  width: 100%;
  height: 1300px;
  position: absolute;
  top: 0;
  background-color: #d0eb98;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
          clip-path: polygon(100% 100%, 100% 0, 0 0);
}

main #home-container .main-sec-1 ul {
  width: 70%;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
}

main #home-container .main-sec-1 ul li {
  width: calc(90% / 3);
  list-style: none;
  margin: 0 auto;
}

main #home-container .main-sec-1 ul li a {
  text-decoration: none;
  color: white;
}

main #home-container .main-sec-1 ul li a .restaurants {
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
}

main #home-container .main-sec-1 ul li a .restaurants img {
  width: 100%;
  border-radius: 10px;
}

main #home-container .main-sec-1 ul li a .restaurants #text {
  padding: 20px 0;
}

main #home-container .main-sec-1 ul li a .restaurants #text h3 {
  color: salmon;
  text-align: center;
}

main #home-container .main-sec-1 ul .restaurants:hover {
  transform: scale(1.03);
  transition: all 1s ease;
}

main #home-container #section-2 {
  background-color: #ffeae4;
  width: 100%;
  padding: 70px 0;
  position: relative;
}

main #home-container #section-2 #top-rating-plates {
  background-color: salmon;
  -webkit-clip-path: polygon(100% 0, 100% 51%, 100% 100%, 0% 100%, 5% 51%, 0% 0%);
          clip-path: polygon(100% 0, 100% 51%, 100% 100%, 0% 100%, 5% 51%, 0% 0%);
  width: 600px;
  height: 100px;
  position: absolute;
  top: -8.5%;
  right: 0%;
}

main #home-container #section-2 #top-rating-plates h1 {
  font-family: "Pacifico", cursive;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  letter-spacing: 2px;
}

main #home-container #section-2 #top-rating-plates h1 .fa-star {
  color: #ffd000;
}

main #home-container #section-2 .flexible-carusel {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: salmon;
}

main #home-container #section-2 .flexible-carusel #prev {
  margin-left: 70px;
}

main #home-container #section-2 .flexible-carusel #plates-info {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

main #home-container #section-2 .flexible-carusel #plates-info img {
  width: 800px;
  height: 450px;
  -webkit-clip-path: polygon(87% 0, 100% 49%, 87% 100%, 0 100%, 0 0);
          clip-path: polygon(87% 0, 100% 49%, 87% 100%, 0 100%, 0 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

main #home-container #section-2 .flexible-carusel #plates-info #text-plates {
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
  text-align: right;
}

main #home-container #section-2 .flexible-carusel #plates-info h3 {
  text-decoration: underline;
}

main #home-container #section-2 .flexible-carusel #next {
  margin-right: 70px;
}

main #home-container #section-2 .fas {
  font-size: 18pt;
}

main #home-container .main-sec-3 {
  padding: 100px 0;
}

main #home-container .main-sec-3 #business-adv {
  display: flex;
}

main #home-container .main-sec-3 #business-adv .cards-adv {
  background-color: orange;
  width: calc(100% / 3);
  height: 500px;
  margin-right: 15px;
  border-radius: 10px;
}

main #home-container .main-sec-3 #business-adv .cards-adv:last-child {
  margin-right: 0px;
}

main #home-container .main-sec-3 #business-adv .cards-adv:hover {
  transform: scale(1.05);
  transition: all 1s ease;
}

main #home-container #contacts {
  position: fixed;
  top: 50.5%;
  right: 1%;
}

main #home-container #contacts #mail {
  background-color: #ffc400;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

main #home-container #contacts #mail .fa-at {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

main #home-container #contacts #phone {
  background-color: #1c8a00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

main #home-container #contacts #phone .fa-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

/*@media screen and (min-width: 480px) and (max-width: 768px) {
  .myjumbotron {
    background-image: none;
    background-color: blue;
    .research-request {
      width: 100%;
    }
  }
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2caead;
  padding: 5px;
  height: 50px;
  width: 150px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.div-margin {
  width: 70%;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abutton {
  padding: 7px;
  font-size: 18px;
  background-color: #28CCBC;
  color: white;
}

.restaurant-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.restaurant-show-container {
  height: 370px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.restaurant-show-container .restaurant-description {
  width: calc(100% - 370px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.restaurant-show-container .restaurant-description img {
  height: 100%;
  margin-right: 15px;
  border-radius: 5px;
}

.restaurant-show-container .restaurant-details ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.restaurant-show-container .restaurant-details ul a {
  color: #3490dc;
  text-decoration: none;
}

.restaurant-show-container .restaurant-details ul a:hover {
  background-color: #7faf48;
}

.restaurant-show-container .restaurant-details .restaurant-description-text {
  margin-right: 15px;
  overflow: scroll;
  height: 150px;
}

.restaurant-show-container .restaurant-foto-order {
  width: 370px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.restaurant-show-container .restaurant-foto-order img {
  border-radius: 15px;
  width: 100%;
}

.restaurant-show-container .restaurant-foto-order .fa-clock {
  margin-right: 10px;
  color: black;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment {
  height: 50px;
  width: 100%;
  border: 1px solid #e8ebeb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment i {
  font-size: 35px;
  margin-right: 15px;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment .fa-cc-paypal {
  color: #253b80;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment .fa-cc-visa {
  color: #f5b226;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment .fa-cc-mastercard {
  color: #eb001b;
}

.restaurant-show-container .restaurant-foto-order .types-of-payment .fa-amazon-pay {
  color: #ff9900;
}

.plates-choosing-view {
  min-height: 400px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e8ebeb;
}

.plates-choosing-view .choosing-and-total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container {
  width: calc(100% - 340px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: scroll;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  background-color: white;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 5px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description span {
  font-size: 12px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description button {
  background-color: white;
  border: none;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description i {
  padding: 3px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-plus-circle {
  color: #7faf48;
  font-size: 30px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-minus-square {
  color: #ff0000;
  font-size: 30px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view img {
  width: 100px;
  margin-right: 5px;
  border-radius: 5px;
}

.plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view:nth-child(2n+1) {
  margin-right: 5%;
}

.plates-choosing-view .momentary-total {
  width: 370px;
  border-radius: 10px;
  background-color: white;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.plates-choosing-view .momentary-total .shop-link {
  height: 50px;
  width: 370px;
  background-color: #f4e432;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plates-choosing-view .momentary-total .shop-link i {
  width: 35px;
  color: #3490dc;
}

.plates-choosing-view .momentary-total .free-delivery {
  width: 370px;
  height: 50px;
  color: #7faf48;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plates-choosing-view .momentary-total .pay-delivery {
  width: 370px;
  height: 50px;
  color: #ff0000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plates-choosing-view .momentary-total .mykart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.plates-choosing-view .momentary-total .mykart div {
  width: 100%;
}

.plates-choosing-view .momentary-total .mykart label {
  display: block;
  cursor: pointer;
  font-size: 16px;
  margin: 3px 0 1px 0;
}

.plates-choosing-view .momentary-total .mykart input {
  width: 100%;
}

.plates-choosing-view .momentary-total .mykart .total-price {
  margin: 5px, 0;
}

.plates-choosing-view .momentary-total .mykart .total-price #totalPrice {
  display: none;
}

.plates-choosing-view .momentary-total .total-calculator {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  height: 100px;
  text-align: center;
}

.plates-choosing-view .momentary-total .total-calculator span {
  font-size: 20px;
}

.plates-choosing-view .momentary-total .shop-link {
  height: 50px;
  width: 100%;
  margin-top: 15px;
  background-color: #f4e432;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plates-choosing-view .momentary-total .shop-link i {
  width: 35px;
  color: #3490dc;
}

.delivery-promotion {
  text-align: center;
  margin: 15px;
}

@media screen and (max-width: 1741px) and (min-width: 1083px) {
  .restaurant-show-container {
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .restaurant-show-container .restaurant-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  .restaurant-show-container .restaurant-description img {
    height: 100%;
    margin-right: 15px;
    border-radius: 5px;
  }

  .restaurant-show-container .restaurant-details ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }

  .restaurant-show-container .restaurant-details ul a {
    color: #3490dc;
    text-decoration: none;
  }

  .restaurant-show-container .restaurant-details ul a:hover {
    background-color: #7faf48;
  }

  .restaurant-show-container .restaurant-details .restaurant-description-text {
    margin-right: 15px;
    overflow: scroll;
    height: 250px;
  }

  .restaurant-show-container .restaurant-foto-order {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .restaurant-show-container .restaurant-foto-order img {
    display: none;
    border-radius: 15px;
    width: 100%;
  }

  .restaurant-show-container .restaurant-foto-order span {
    text-align: center;
  }

  .restaurant-show-container .restaurant-foto-order .restairamt-foto-order span:last-child {
    color: brown;
  }

  .restaurant-show-container .restaurant-foto-order .fa-clock {
    margin-right: 10px;
    color: black;
  }

  .restaurant-show-container .restaurant-foto-order .types-of-payment {
    height: 50px;
    width: 250px;
    border: 1px solid #e8ebeb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .restaurant-show-container .restaurant-foto-order .types-of-payment i {
    font-size: 35px;
    margin-right: 5px;
  }

  .plates-choosing-view {
    min-height: 400px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e8ebeb;
  }

  .plates-choosing-view .choosing-and-total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container {
    width: calc(100% - 340px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: scroll;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    background-color: white;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description span {
    font-size: 16px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description button {
    background-color: white;
    border: none;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description i {
    padding: 3px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-plus-circle {
    color: #7faf48;
    font-size: 30px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-minus-square {
    color: #ff0000;
    font-size: 30px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view img {
    width: 130px;
    margin-right: 5px;
    border-radius: 5px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view:nth-child(2n+1) {
    margin-right: 5%;
  }

  .plates-choosing-view .momentary-total {
    width: 370px;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .shop-link {
    height: 50px;
    width: 370px;
    background-color: #f4e432;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .shop-link i {
    width: 35px;
    color: #3490dc;
  }

  .plates-choosing-view .momentary-total .free-delivery {
    width: 370px;
    height: 50px;
    color: #7faf48;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .pay-delivery {
    width: 370px;
    height: 50px;
    color: #ff0000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .mykart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 15px;
  }

  .plates-choosing-view .momentary-total .mykart div {
    width: 100%;
  }

  .plates-choosing-view .momentary-total .mykart label {
    display: block;
    cursor: pointer;
    font-size: 16px;
    margin: 3px 0 1px 0;
  }

  .plates-choosing-view .momentary-total .mykart input {
    width: 100%;
  }

  .plates-choosing-view .momentary-total .mykart .total-price {
    margin: 5px, 0;
  }

  .plates-choosing-view .momentary-total .mykart .total-price #totalPrice {
    display: none;
  }

  .plates-choosing-view .momentary-total .total-calculator {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    height: 100px;
    text-align: center;
  }

  .plates-choosing-view .momentary-total .total-calculator span {
    font-size: 20px;
  }

  .plates-choosing-view .momentary-total .shop-link {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    background-color: #f4e432;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .shop-link i {
    width: 35px;
    color: #3490dc;
  }
}

@media screen and (max-width: 1082px) {
  .restaurant-show-container {
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .restaurant-show-container .restaurant-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    text-align: center;
  }

  .restaurant-show-container .restaurant-description img {
    height: 50%;
    margin-right: 0px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .restaurant-show-container .restaurant-details ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }

  .restaurant-show-container .restaurant-details ul a {
    color: #3490dc;
    text-decoration: none;
  }

  .restaurant-show-container .restaurant-details ul a:hover {
    background-color: #7faf48;
  }

  .restaurant-show-container .restaurant-details .restaurant-description-text {
    margin-right: 0px;
    overflow: scroll;
    flex-grow: 1;
  }

  .restaurant-show-container .restaurant-details .atHome {
    margin-bottom: 30px;
  }

  .restaurant-show-container .restaurant-foto-order {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .restaurant-show-container .restaurant-foto-order img {
    display: none;
    border-radius: 15px;
    width: 100%;
  }

  .restaurant-show-container .restaurant-foto-order span {
    text-align: center;
    color: orange;
    margin-bottom: 10px;
  }

  .restaurant-show-container .restaurant-foto-order .restairamt-foto-order span:last-child {
    color: brown;
  }

  .restaurant-show-container .restaurant-foto-order .fa-clock {
    margin-right: 10px;
    color: black;
  }

  .restaurant-show-container .restaurant-foto-order .types-of-payment {
    height: 50px;
    width: 250px;
    border: 1px solid #e8ebeb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .restaurant-show-container .restaurant-foto-order .types-of-payment i {
    font-size: 35px;
    margin-right: 5px;
  }

  .plates-choosing-view {
    min-height: 400px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e8ebeb;
  }

  .plates-choosing-view .choosing-and-total-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view {
    flex-grow: 1;
    margin-right: 0px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    background-color: white;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description span {
    font-size: 16px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description button {
    background-color: white;
    border: none;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description i {
    padding: 3px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-plus-circle {
    color: #7faf48;
    font-size: 30px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view .plate-description .fa-minus-square {
    color: #ff0000;
    font-size: 30px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view img {
    width: 130px;
    margin-right: 5px;
    border-radius: 5px;
  }

  .plates-choosing-view .choosing-and-total-container .plate-selection-container .plate-selection-view:nth-child(2n+1) {
    margin-right: 0%;
  }

  .plates-choosing-view .momentary-total {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .plates-choosing-view .momentary-total .shop-link {
    height: 50px;
    width: 80%;
    background-color: #f4e432;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .shop-link i {
    width: 35px;
    color: #3490dc;
  }

  .plates-choosing-view .momentary-total .free-delivery {
    width: 370px;
    height: 50px;
    color: #7faf48;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .pay-delivery {
    width: 370px;
    height: 50px;
    color: #ff0000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .mykart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 15px;
  }

  .plates-choosing-view .momentary-total .mykart div {
    width: 100%;
  }

  .plates-choosing-view .momentary-total .mykart label {
    display: block;
    cursor: pointer;
    font-size: 16px;
    margin: 3px 0 1px 0;
  }

  .plates-choosing-view .momentary-total .mykart input {
    width: 100%;
  }

  .plates-choosing-view .momentary-total .mykart .total-price {
    margin: 5px, 0;
  }

  .plates-choosing-view .momentary-total .mykart .total-price #totalPrice {
    display: none;
  }

  .plates-choosing-view .momentary-total .total-calculator {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    height: 100px;
    text-align: center;
  }

  .plates-choosing-view .momentary-total .total-calculator span {
    font-size: 20px;
  }

  .plates-choosing-view .momentary-total .shop-link {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    background-color: #f4e432;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .plates-choosing-view .momentary-total .shop-link i {
    width: 35px;
    color: #3490dc;
  }

  .delivery-promotion span {
    font-size: 12px;
  }
}

#info-container {
  width: 100%;
  background-color: #7faf48;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.backend-container,
.frontend-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 25px 0;
}

.backend-container .infotitolo,
.frontend-container .infotitolo {
  width: 800px;
}

.backend-container .infofotoprofilo,
.frontend-container .infofotoprofilo {
  width: 300px;
  margin: 30px;
  border-radius: 50%;
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info-foto-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.superlogo {
  margin-bottom: 25px;
  width: 100%;
}

.superlogo img {
  width: 100%;
}

@media screen and (max-width: 1213px) and (min-width: 941px) {
  .images-container .infofotoprofilo {
    width: 250px;
  }
}

@media screen and (max-width: 940px) {
  .backend-container,
  .frontend-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 25px 0;
  }

  .backend-container .infotitolo,
  .frontend-container .infotitolo {
    width: 100%;
  }

  .images-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .images-container .infofotoprofilo {
    margin: 15px 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2caead;
  padding: 5px;
  height: 50px;
  width: 150px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.div-margin {
  width: 70%;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abutton {
  padding: 7px;
  font-size: 18px;
  background-color: #28CCBC;
  color: white;
}

div#container-plate-list {
  padding-top: 40px;
}

div#container-plate-list .container-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

div#container-plate-list .container-link a {
  text-decoration: none;
  background-color: #28CCBC;
  color: #ffff;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
}

div#container-plate-list .titlePlateList {
  font-family: "Pacifico", cursive;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

div#container-plate-list div.restaurantCover {
  text-align: center;
  margin-bottom: 40px;
}

div#container-plate-list div.restaurantCover #coverRestImg {
  border-radius: 10px;
  opacity: 0.9;
}

div#container-plate-list .menuContainer {
  min-height: 600px;
}

div#container-plate-list .menuContainer h2 {
  font-family: "Pacifico", cursive;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px 0;
}

div#container-plate-list .menuContainer .platesCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

div#container-plate-list .menuContainer .platesCards li {
  width: 260px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div#container-plate-list .menuContainer .platesCards li .plateCard {
  margin-bottom: 10px;
}

div#container-plate-list .menuContainer .platesCards li .plateCard div {
  position: relative;
}

div#container-plate-list .menuContainer .platesCards li .plateCard div img {
  width: 100%;
  border-radius: 10px;
  position: relative;
}

div#container-plate-list .menuContainer .platesCards li .plateCard div img:hover {
  transform: scale(1.03);
  transition: all 1s ease;
  opacity: 0.75;
}

div#container-plate-list .menuContainer .platesCards li .plateCard div img:hover + .editPlate {
  display: block;
}

div#container-plate-list .menuContainer .platesCards li .plateCard div .editPlate {
  font-size: 50px;
  color: #1b1a1a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  display: none;
}

div#container-plate-list .menuContainer .platesCards li .plateCard div .editPlate:hover {
  display: block;
}

div#container-plate-list .menuContainer .platesCards li .plateCard p,
div#container-plate-list .menuContainer .platesCards li .plateCard h6 {
  margin-top: 10px;
}

/* test @query */

/* test @Queries mobile-device*/

@media screen and (max-width: 480px) {
  div#container-plate-list {
    padding-top: 40px;
  }

  div#container-plate-list .container-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
  }

  div#container-plate-list .container-link a {
    text-decoration: none;
    background-color: #28CCBC;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
  }

  div#container-plate-list .titlePlateList {
    margin-bottom: 70px;
  }

  div#container-plate-list div.restaurantCover {
    text-align: center;
    margin-bottom: 40px;
  }

  div#container-plate-list div.restaurantCover #coverRestImg {
    border-radius: 10px;
    opacity: 0.9;
  }

  div#container-plate-list .menuContainer {
    min-height: 600px;
  }

  div#container-plate-list .menuContainer h2 {
    font-family: "Pacifico", cursive;
    text-align: center;
    letter-spacing: 2px;
    padding: 20px 0;
  }

  div#container-plate-list .menuContainer .platesCards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
  }

  div#container-plate-list .menuContainer .platesCards li {
    width: 260px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  div#container-plate-list .menuContainer .platesCards li .plateCard {
    margin-bottom: 10px;
  }

  div#container-plate-list .menuContainer .platesCards li .plateCard div {
    position: relative;
  }

  div#container-plate-list .menuContainer .platesCards li .plateCard div img {
    width: 100%;
    border-radius: 10px;
    position: relative;
  }

  div#container-plate-list .menuContainer .platesCards li .plateCard div img:hover {
    transform: scale(1.03);
    transition: all 1s ease;
    opacity: 0.75;
  }

  div#container-plate-list .menuContainer .platesCards li .plateCard div img:hover + .editPlate {
    display: block;
  }

  div#container-plate-list .menuContainer .platesCards li .plateCard div .editPlate {
    font-size: 50px;
    color: #1b1a1a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    display: none;
  }

  div#container-plate-list .menuContainer .platesCards li .plateCard div .editPlate:hover {
    display: block;
  }

  div#container-plate-list .menuContainer .platesCards li .plateCard p,
  div#container-plate-list .menuContainer .platesCards li .plateCard h6 {
    margin-top: 10px;
  }
}

/* test @Queries tablet-device*/

@media screen and (min-width: 481px) and (max-width: 914px) {
  .titlePlateList {
    margin-top: 70px;
  }

  .restaurantCover {
    height: 350px;
  }

  .restaurantCover .coverRestImg {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    -o-object-fit: fill;
       object-fit: fill;
  }

  .menuContainer {
    min-height: 300px;
  }

  .platesCards {
    /*          overflow-y: none;
     */
  }

  .platesCards li {
    width: 50%;
    min-height: 250px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-bottom: 40px;
  }

  .platesCards li .plateCard {
    position: relative;
    margin-bottom: 10px;
  }

  .platesCards li img {
    width: 60%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .platesCards li img:hover {
    transform: scale(1.03);
    transition: all 1s ease;
    opacity: 0.75;
  }

  .platesCards li img:hover + .editPlate {
    display: block;
  }

  .platesCards li .editPlate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    display: none;
  }

  .platesCards li .editPlate img {
    width: 75px;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }

  .platesCards li .editPlate:hover {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2caead;
  padding: 5px;
  height: 50px;
  width: 150px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.div-margin {
  width: 70%;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abutton {
  padding: 7px;
  font-size: 18px;
  background-color: #28CCBC;
  color: white;
}

.editPlate .editPlateContainer {
  height: 100%;
  width: 100%;
  background-image: url("/storage/graphics/food-wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  padding: 15px 0;
}

.editPlate .backToPlateList {
  background-color: #00c2b8;
  text-align: center;
  width: 100px;
  border-radius: 7px;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  padding: 8px 20px;
}

.editPlate .container {
  width: 45%;
  min-height: 780px;
  text-align: center;
  border-radius: 15px;
  margin: 15px auto;
  background-image: url("/storage/graphics/blackboard.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
}

.editPlate .container h2 {
  margin: 27px 11px 60px 0;
}

.editPlate .container .form-group {
  width: 75%;
  min-height: 60px;
  margin: auto;
  margin-bottom: 35px;
  text-align: left;
  font-family: "Pacifico", cursive;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.editPlate .container .form-group input {
  border-radius: 7px;
  outline: transparent;
  padding: 3px 8px;
  margin-left: 10px;
  height: 25px;
}

.editPlate .container .form-group .radio {
  width: 50%;
  display: flex;
  margin-top: 5px;
}

.editPlate .container .form-group .radio > input {
  margin-right: 15px;
}

.editPlate .container .form-group .radio > label {
  font-size: 12px;
  white-space: nowrap;
}

.editPlate .container .form-group .visibility {
  width: 50%;
  margin-bottom: 12px;
}

.editPlate .container .form-group .descInp {
  font-family: "Lato", sans-serif;
  border-radius: 10px;
  padding: 7px;
}

.editPlate .container .insertImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.editPlate .container .insertImg .insertFile {
  width: 86px;
}

.editPlate .container .insertImg .protoImg {
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 2px solid #575555;
  border-radius: 13px;
}

.editPlate .container .price > span {
  padding-left: 18px;
  position: relative;
}

.editPlate .container .price > span input {
  width: 100px;
  padding-left: 20px;
}

.editPlate .container .euro {
  position: absolute;
  top: 7px;
  right: 85px;
  font-family: "Lato";
  font-weight: bold;
  font-size: 17px;
  color: black;
}

.editPlate .container button {
  background-color: #0febe0;
  color: white;
  border-radius: 15px;
  padding: 10px 30px;
  margin-bottom: 20px;
  font-family: "Pacifico", cursive;
  font-size: 21px;
}

/* test @Queries mobile-device*/

@media screen and (max-width: 480px) {
  .editPlate .container {
    width: 100%;
  }

  .editPlate .container .form-group input {
    width: 45%;
    border-radius: 7px;
    outline: transparent;
    padding: 3px 8px;
    margin-left: 10px;
    height: 25px;
  }

  .editPlate .container .form-group .radio {
    width: 210px;
    display: flex;
    margin-top: 5px;
  }

  .editPlate .container .form-group .radio > input {
    margin-right: 15px;
  }

  .editPlate .container .form-group .radio > label {
    font-size: 12px;
    white-space: nowrap;
  }

  .editPlate .container .form-group .visibility {
    width: 50%;
    margin-bottom: 12px;
  }

  .editPlate .container .form-group .descInp {
    font-family: "Lato", sans-serif;
    border-radius: 10px;
    padding: 7px;
  }

  .editPlate .container .insertImg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .editPlate .container .insertImg > input {
    width: 83px;
    margin-right: 20px;
  }

  .editPlate .container .insertImg .protoImg {
    width: 20%;
    height: 20%;
  }

  .editPlate .container .euro {
    top: 12%;
    right: 67%;
    font-family: "Lato";
  }
}

/* test @Queries tablet-device*/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .editPlate .container {
    width: 65%;
    margin-top: 40px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2caead;
  padding: 5px;
  height: 50px;
  width: 150px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.my-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.div-margin {
  width: 70%;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abutton {
  padding: 7px;
  font-size: 18px;
  background-color: #28CCBC;
  color: white;
}

#faq-container {
  padding-top: 30px;
  padding-bottom: 100px;
}

#faq-container #absolute-trapezoid {
  background-color: coral;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 310px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%);
  z-index: -1;
}

#faq-container #back-h1 {
  background-color: #ff7b00;
  width: 140px;
  height: 80px;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

#faq-container #back-h1 h1 {
  margin: 20px 0;
  padding: 0 25px;
  vertical-align: middle;
  line-height: 80px;
}

#faq-container #faq {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

#faq-container #faq #quest li {
  list-style: none;
  margin: 10px 0;
}

#faq-container #faq #quest li p:first-child:hover {
  font-size: 20pt;
}

#faq-container #faq #quest li p:first-child {
  font-weight: bold;
}

.bg-color {
  background-color: #d0eb98;
  padding-bottom: 50px;
}

.bg-color #list-restaurant-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-color #list-restaurant-container #restaurant-user-title {
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 25px;
  color: #ffff;
}

.bg-color #list-restaurant-container a {
  text-decoration: none;
  background-color: #28CCBC;
  color: #ffff;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
}

.bg-color #list-restaurant-container .restaurant-from-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 35px;
  max-width: 100%;
}

.bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-details {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  background-color: #ffff;
  padding: 15px 15px;
  margin-bottom: 30px;
}

.bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-details > * {
  margin: 5px 5px;
}

.bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-details h2 {
  color: salmon;
}

.bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-details ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
}

.bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-details ul li {
  color: #000;
}

.bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-details ul li .fa-star {
  color: #28CCBC;
}

.bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-foto {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-foto img {
  border-radius: 10px;
  width: 100%;
}

.bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-modify {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}

@media screen and (max-width: 1264px) {
  .bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    background-color: #e8ebeb;
    padding: 15px 0;
    margin-bottom: 30px;
  }

  .bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-details > * {
    margin: 5px 5px;
  }

  .bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-details ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
  }

  .bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-details .fa-star {
    color: #28CCBC;
  }

  .bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-foto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .bg-color #list-restaurant-container .restaurant-from-list .restaurantfl-foto img {
    width: 100%;
  }
}

#appOrders.container {
  width: 1140px;
  margin: auto;
}

#appOrders.container div.paid {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: green;
}

#appOrders.container div.not-paid {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
}

.none {
  display: none;
}

.active {
  display: block;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px;
}

#app main {
  margin-top: 100px;
}

header {
  height: 100px;
  width: 100%;
  padding: 10px 20px;
  background-color: #C1E8E5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

header nav#nav-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav#nav-header #logo img {
  width: 50px;
}

header nav#nav-header #container-list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header nav#nav-header #container-list ul li.nav-list {
  margin-left: 50px;
}

header nav#nav-header #container-list ul li.nav-list a {
  text-decoration: none;
  background-color: #28CCBC;
  color: #ffff;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
}

header nav#nav-header #container-list ul #liDropdown {
  position: relative;
}

header nav#nav-header #container-list ul #liDropdown #drop-container {
  width: 100%;
  height: 80px;
  padding-top: 20px;
  text-align: center;
  background-color: #28CCBC;
  position: absolute;
  top: 20px;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

header nav#nav-header #container-list ul #liDropdown #drop-container div {
  margin-bottom: 10px;
}

header nav#nav-header #container-list ul #liDropdown #drop-container #logout,
header nav#nav-header #container-list ul #liDropdown #drop-container #dashboard {
  padding: 0;
  border-radius: 0;
  background-color: inherit;
}

footer {
  width: 100%;
  background-color: #729C98;
  padding: 40px 0;
}

footer .footer-container {
  width: 100%;
}

footer .footer-container .footer-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-container .footer-section-container .footer-section {
  height: 300px;
  width: calc( 100% / 4 );
  background-color: #363947;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
}

footer .footer-container .footer-section-container .footer-section .footer-list {
  height: 90%;
  width: 90%;
}

footer .footer-links {
  height: 44px;
  display: flex;
  justify-content: space-between;
}

footer .footer-links .links {
  color: white;
  font-size: 24px;
}

footer .footer-links .weAre {
  font-size: 18px;
  color: white;
}

