// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'partials/common';
@import 'partials/variables';
@import 'partials/login';
@import 'partials/register';
@import 'partials/passwordReset';
@import 'partials/home';
@import 'partials/restaurant-details';
@import 'partials/info-company';
@import 'partials/platesList';
@import 'partials/editPlate';
@import 'partials/createPlate';
@import 'partials/createRestaurant';
@import 'partials/editRestaurant';
@import 'partials/orderList&orderStats';
@import 'partials/orderDetail';
@import 'partials/payment';
@import 'partials/checkout';
@import 'partials/work';
@import 'partials/faq';
@import 'partials/list-restaurant';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//   FONT
body {
  font-family: 'Open Sans', sans-serif;;
}
// regole style header e footer
.none{
  display: none;
}

.active{
  display: block;
}

.box-shadow{
  box-shadow: rgb(0 0 0 / 12%) 0 1px 3px;
}

#app{
  main{
    margin-top: 100px;
  }
}
// HEADER
header{
  height: 100px;
  width: 100%;
  padding: 10px 20px;
  background-color: $headercl;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
    
  nav#nav-header{
    height: 100%;
    @include flex(row, space-between, center);

    #logo img {
      width: 50px;
    }
    #container-list {
      
      ul {
        @include flex(row, center, center);
        list-style: none;

        li.nav-list {
          margin-left: 50px;
          a {
            @include buttonLink($ourlogo, $white, 10px, 20px);
          }
        }
        #liDropdown{
          position: relative;

          #drop-container{
            width: 100%;
            height: 80px;
            padding-top: 20px;
            text-align: center;
            background-color: $ourlogo;
            position: absolute;
            top: 20px;
            left: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            div{
              margin-bottom: 10px;
            }
            #logout, #dashboard{
              padding: 0;
              border-radius: 0;
              background-color: inherit;
            }
          }
        }
      }
    }
  }
}
// FOOTER
footer {
  width: 100%;
  background-color: #729C98;
  padding: 40px 0;
  
  .footer-container {
    @include centring;
    @include flex(row, space-between, center);
    
    ul{
      height: 300px;
      flex-basis: 300px;
      list-style: none;
      padding: 20px;
      margin-right: 25px;
      background-color: #363947;
      border-radius: 10px;
      text-align: center;

      li{
        padding-bottom: 10px;

        h3{
          text-transform: uppercase;
          color: salmon;
        }
        a{
          text-decoration: none;
          color: $white;

          &:hover {
            color: $ouryellow;
          }
        }
      }
    }
    .whoWeAre {
      @include flex(column, space-between, center);
      border-radius: 10px;
      background-color: #363947;
      text-align: center;
      height: 300px;
      flex-basis: 300px;
      img {
        width: 200px;
      }

      span {
        margin: 0 5px 5px 5px;
        color: $ourgrey;
      }
    }
  }
}

@media screen and(max-width: 1048px) and (min-width: 727px) {
  footer {

    .footer-container {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      ul,
      .whoWeAre {
        flex-basis:calc(90% / 2);
        
        
        margin: 0 15px 15px 0;
        width: 0px;
        
      }

    }
  }

  }

  @media screen and(max-width: 726px) {
    footer {
  
      .footer-container {
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
        ul,
        .whoWeAre {
          flex-basis:90%;
          
          
          margin: 0 0px 15px 0;
          width: 0px;
          
        }
  
      }
    }
  
    }

  